body {
    background-color: #1c1c1c;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.kingfish-logo {
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    display: block;

}

.bebas-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    color: white;

    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    transform-origin: center;
}

.bebas-text:hover {
    transform: rotate(15deg);
    color: rgb(255, 214, 31);
}

.glow-circle {
    position: fixed;
    background: radial-gradient(circle, rgba(68, 68, 68, 0.5) 50%, rgba(104, 247, 37, 0) 50%);
    background-size: cover;
    animation: glowExpand 5s infinite;
    z-index: -1;
}

@keyframes glowExpand {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    25% {
        opacity: .25;
    }
    75% {
        width: 200%;
        height: 300%;
        opacity: 0;
    }
    100% {
        width: 200%;
        height: 300%;
        opacity: 0;
    }
}