body {
    background-color: #1c1c1c;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;

    overflow: hidden;
}

.svg-collection {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.svg-object1 {
    position: fixed;

    top: -55%;
    left: 55%;
    animation: rotationAnimR 20s linear infinite;
}
.svg-object2 {
    position: fixed;
    
    top: 55%;
    left: -55%;
    animation: rotationAnimR 20s linear infinite;
}

.main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 1%;
}

.rotate {
    display: inline-block;
    transition: transform 0.5s ease, text-decoration-color 0.5s ease;

    text-decoration-line: underline;
    text-decoration-skip-ink: all;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-decoration-color: rgba(255, 214, 31, 0);
}

/* #our:hover,
#games:hover {
    transform: rotate(-15deg);
    text-decoration-color: rgba(255, 214, 31, 1);
} */

#games:hover,
#our:hover {
    transform: rotate(15deg);
    /* text-decoration-color: rgba(255, 214, 31, 1); */
}

.footer {
    position: fixed;
    bottom: 0;
    height: 5%;
    min-height: 20px;
    width: 100%;
    color: white;
    text-align: right;
}

.credits-text {
    padding-right: 10px;

    text-decoration-line: none;
    font-family: "JetBrains Mono", serif;
    color: rgb(68, 68, 68);
}

.kingfish-logo {
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 25%;
    display: block;
}

.bebas-text {
    text-decoration-line: none;
    font-family: "Luckiest Guy", serif;
    /* font-family: 'Bebas Neue', sans-serif; */
    font-size: 48px;
    color: white;

    transition: 
        transform 0.2s ease-in-out, 
        color 0.2s ease-in-out;
    transform-origin: center;
}

.bebas-text:hover {
    transform: rotate(-5deg);
    color: rgb(255, 214, 31);
}

.bebas-unavailable {
    text-decoration-line: none;
    font-family: "Luckiest Guy", serif;
    font-size: 48px;
    color: rgb(59, 59, 59);
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

@keyframes rotationAnimL {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: -180deg;
    }
}

@keyframes rotationAnimR {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 180deg;
    }
}